<div>
    <img class="burger-image" src="./img/hamburger-image.png" alt="Burger Image by Jan Balog from Pixabay">
</div>

<section class="section">
    <div class="container">
        <h1 class="title is-1">Eat Da Burger!</h1>

        <h2 class="title">Burgers that are not devoured!</h2>

        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/unless}}
            {{/each}}
        </ul>

        <h2>Burgers that are devoured!</h2>

        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/if}}
            {{/each}}
        </ul>

        <h2>Add a Burger</h2>
        <form class="create-form">

            <div class="form-group">
                <label for="ca">Burger Name:</label>
                <input type="text" id="ca" name="name">
            </div>

            <button class="button" type="submit">Add Burger</button>

            <p class="subtitle">Enter the name of a burger you would like. Click "Submit" to save it.</p>
        </form>
    </div>
</section>