ul li {
    padding: .5rem;
}

.burger-image {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    max-width: 260px;
}

.section {
    padding: 1rem 2rem;
}