body {
    min-height: 100%;
     /* FF3.6-15 */
    background: -moz-linear-gradient(top,  #fef8ea 1%, #efc434 100%);
     /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(top,  #fef8ea 1%,#efc434 100%);
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to bottom,  #fef8ea 1%,#efc434 100%);
}

html {
    height: 100%;
}

li {
    padding: .25rem;
}

.button.is-warning.is-hovered, 
.button.is-warning:hover {
    background-color: #ffc94a;
}

.burger-container {
    border: rgb(255, 187, 59);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: .25rem;
    margin: .25rem;
}

.burger-image {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    max-width: 260px;
}

.burger-list {
    border-radius: 25px;
    margin: 1.5rem;
}

.devour-burger {
    padding: 0;
    height:fit-content;
    font-weight: 700;
}

.section {
    padding: .75rem 2rem;
}