<div class="container burger-container">

	{{!-- <li> --}}

		{{burger_name}}

		{{#unless devoured}}

		<button class="button devour-burger is-pulled-right is-small is-warning is-rounded" data-id="{{this.id}}">Devour
			it!</button>

		{{/unless}}

		{{!--
	</li> --}}

</div>